<div th:replace="~{shared/header}"></div>

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Mural de Comentários</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Lousa para a escrita de comentários</li>
            </ol>

            <div class="card shadow mb-4">
            <div class="card-header py-3">
                <a th:href="@{/comentarios/novo}" class="btn btn-primary" style="margin-right: 20px;">Novo</a>
                <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lousa de comentários</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data/Hora</th>
                                <th>Comentário</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Data/Hora</th>
                                <th>Comentário</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>  
                            <tr th:each = "comentario : ${comentarios}">
                                <td th:text="${comentario.usuario != null ? comentario.usuario.nome : 'Anônimo'}"></td>
                                <td th:text="${#temporals.format(comentario.dataCriacao, 'dd/MM/yyyy HH:mm')}"></td>
                                <td th:text="${comentario.texto}"></td>
                                <!-- <td><a th:href="@{/comentarios/{id}/editar(id=${comentario.id})}" class="btn btn-warning">Alterar</a></td> -->
                                <td>
                                    <a
                                            th:if="${usernameUsuario == 'nancat' or (comentario.usuario.username == usernameUsuario)}"
                                            href="javascript:void(0)"
                                            th:data-url="@{/comentarios/{id}/excluir(id=${comentario.id})}"
                                            onclick="if(confirm('Confirma?')) { window.location.href = this.getAttribute('data-url') }"
                                            class="btn btn-danger">
                                        Excluir
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>

        </div>
    </main>
                
<div th:replace="~{shared/footer}"></div>